:root {
    --primary-color: #cc6f8e;
    --secondary-color: #f50057;
    --text-color: #1a1a1a;
    --white: #fff;
    --dark-overlay: rgba(0, 0, 0, 0.4);
  }

body {
    font-family: Arial, sans-serif;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 20px;
}

.logo .highlight {
    color: var(--primary-color); 
}

.container {
    background: white;
    padding: 25px;
    border-radius: 15px;
    width: 400px;
    text-align: center;
    animation: slideIn 0.6s ease-out;
}

@keyframes slideIn {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.form-box h2 {
    color: var(--text-color);
    margin-bottom: 15px;
}

input {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 12px;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    outline: none;
    border-radius: 50px !important;
    font-size: 16px;
    transition: 0.3s;
}

input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 8px rgba(255, 51, 133, 0.5);
}
 
button {
    background: var(--primary-color);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    border-radius: 50px !important;
    transition: background 0.3s, transform 0.2s;
}

button:hover {
    background: var(--primary-color);
    transform: scale(1.05);
}

.hidden {
    display: none;
}

.toggle-link {
    margin-top: 10px;
    font-size: 14px;
    color: var(--text-color);
    cursor: pointer;
    transition: color 0.3s;
}

.toggle-link:hover {
    color: var(--primary-color);
}
